<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069743356252-tcc9t4ldbki2ffsev2rjfimb92i98nkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069743356252-tcc9t4ldbki2ffsev2rjfimb92i98nkq</string>
	<key>API_KEY</key>
	<string>AIzaSyATB0y9Dc57BS60NPhN0x76YswgNeoaFy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1069743356252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetergun.CloneSnapchat</string>
	<key>PROJECT_ID</key>
	<string>clonesnapchat-e9554</string>
	<key>STORAGE_BUCKET</key>
	<string>clonesnapchat-e9554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069743356252:ios:c7e64b1f92b7f96ac86999</string>
</dict>
</plist>